body {
	padding-top: 50px;
	color: #959595;
	background-color: #202124;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: #b0b0b0;
	}
	
.feature {
	background-color: yellowgreen;
	color: greenyellow;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: #b0b0b0;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: center;
	}
