body{
    padding-top:50px;
    background-color: #202124;
}
h1,h2,h3,h4,h5,h6,p{
    color:#b0b0b0;
    text-align: center;
}
article{
    margin-bottom:25px;
    text-align:center;
}
article:nth-child(6n+1) {
            clear: left;
}
